body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: lightslategray;
    text-decoration-line: none;
}
.active {
    font-weight: bold;
    color: darkolivegreen;
}
label {
    margin-right: 10px;
}
.main_container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
}
section {
    flex: 1 0 100%;
}
h1 {
    text-align: center;
}
header {
    width: 100%;
    background-color: seashell;
    display: flex;
    justify-content: space-between;
    .welcome {
        display: flex;
        justify-content: center;
        padding: 10px;
        #name {
            padding: 5px 15px 5px 5px;
            font-size: 1.5rem;
            align-self: center;
            font-weight: 600;
            color: rosybrown;

        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-self: center;
        }
    }
        nav {
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            ul {
                display: flex;
                flex-flow: row nowrap;
                padding: 0;
                justify-content: flex-start;
                li {
                    list-style: none;
                    margin-left: 15px;
                    align-self: center;
                    a {
                        font-size: 1.1rem;
                        &:hover {
                            color: #8D7474;
                        }
                    }
                }
            }
        }
}
.register_form {
    max-width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 5px auto;
    .radioButtons___container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        .radioButtons___container_block {
            display: table;
            width: 30%;
            label {
                display: table-cell;
            }
            input {
                display: table-cell;
            }
        }
    }
        .input_block {
            align-self: center;
            width: 80%;
            margin-top: 10px;
            padding: 10px 0 10px;
            display: table;
            input {
                width: 80%;
                display: table-cell;
            }
            label {
                width: 20%;
                display: table-cell;
            }
        }
        button {
            max-width: 100px;
            display: block;
            margin: 10px auto;
        }
}
.avatar_section {
    p {
        font-size: 1.5rem;
        text-align: center;
    }
    img {
        width: 50%;
        height: auto;
        display: block;
        margin: 5px auto;
    }
}

.accountPage__container {
    padding: 15px;
    width: 30%;
    display: block;
    margin: 0 auto;
    background-color: AntiqueWhite;
    box-shadow: 6px 5px 0 rgba($color: #000000, $alpha: 0.2);
}
.not_found__container {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(45deg,lightpink, salmon, goldenrod);
        .not_found__code, .not_found__text {
            background-color: goldenrod;
            width: 30%;
            display: block;
            margin: 0 auto;
            font-size: 300px;
            font-weight: bold;
            text-align: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: background-gradient 5s linear infinite;
            transition: background-color 1s linear;
        }
        .not_found__text{
            font-size: 3.125rem;
        }
}
.home_main {
    background-image: url("img/0234.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    h1 {
        margin: 0;
        font-size: 5rem;
        color:white;
    }
}
.logout_container {
    width: 100%;
    .logout_button {
        width: 30%;
        display: block;
        margin: 0 auto;
        padding: 1em;
        font-size: 3rem;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        background-color: seashell;
        color: white;
        border-radius: 0.5em;
        animation: exit_button_animation 10s linear infinite;
        transition: background-color 5s linear;
        position: relative;
        &::before {
            content: "EXIT";
            color: inherit;
            font-size: inherit;
            padding: inherit;
            box-sizing: border-box;
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: 10;
            border-radius: inherit;
            transition: all 500ms linear;
        }
        &:hover::before {
            opacity: 1;
            transition: all 500ms linear;
        }
    }
}
footer {
    display: block;
    align-self: flex-end;
    background-color: seashell;
    width: 100%;
    p {
        text-align: center;
    }
}
@keyframes background-gradient {
    0% {
        background-color: goldenrod;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background-color: lightcoral;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30% {
        background-color: coral;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background-color: DarkOrange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90%{
        background-color: orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background-color: goldenrod;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes exit_button_animation {
    0% {
        background-color: seashell;
    }
    10% {
        background-color: rosybrown;
    }
    20% {
        background-color: lightsalmon;
    }
    30% {
        background-color:darksalmon;
    }
    40% {
        background-color: salmon;
    }
    50% {
        background-color: lightcoral;
    }
    60% {
        background-color: coral;
    }
    70% {
        background-color: tomato;
    }
    80% {
        background-color: indianred;
    }
    90% {
        background-color: crimson;
    }
    100% {
        background-color: seashell;
    }
}
